<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style type="text/css">
		.container{
			margin: auto;
			width: 50%;
			padding: 30px;
			background: #e2e2e2;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1 data-th-text="${name}" >Welcome to home page</h1>
		<p>Youtube channel name: <span data-th-text="${youtubeChannel}" ></span></p>
		<p>Guthub Repo channel name: <span th:text="${getRepo}" ></span></p>
		<p>
			<a data-th-href="${getRepo}">Click here to go to GitHub</a>
		</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Duis aute irure dolor in
			reprehenderit.
		</p>
	</div>
</body>
</html>